@media (max-width: 600px) {
    .mobile {
      height: 300px;
    }
  }

  /* .col-depo{
  padding:0;
  position: relative;
  height: 160px;
	border: dashed 1px red;
  margin:0;
  }
  .FullScreenDialog{
    position: absolute;
	  bottom: 1\;
    right: 0;
    width: 145px;
  }
  .chartBox{
    position: absolute;
    left: 0;
  } */
.textOfBox{
position: relative;
top: 9px;
margin-left: 6px;
}
 
 